numpy 
pandas
scikit-learn
seaborn
catboost
geopandas
gitdb
GitPython
imbalanced-learn
lightgbm
Markdown
markdown-it-py
markdownlit
matplotlib
matplotlib-inline
notebook
notebook_shim
openai
openpyxl
dotenv
folium
plotly
scipy
xgboost
streamlit_folium
streamlit
shap
imblearn